<div class="sshow">
    <div id="wrapper" style=" top: 100px;">
        <div id="carousel">
            <img src="../assets/ss1.jpg" alt="" width="" height="450" />
            <img src="../assets/ss2.jpg" alt="" width="" height="450" />
            <img src="../assets/ss3.jpg" alt="" width="" height="450" />
            <img src="../assets/ss4.jpg" alt="" width="" height="450" />
            <img src="../assets/ss5.jpg" alt="" width="" height="450" />
            <img src="../assets/ss6.jpg" alt="" width="" height="450" />
        </div>
        <a href="#" id="prev" title="Show previous"> </a>
        <a href="#" id="next" title="Show next"> </a>
    </div>
</div>