<div id="wrap" class="row">
        <div class="igg">
            <img src="../assets/g1.png" alt="car1" width="275" height="200" />
            <div>
                <h3>RTU Official</h3>
                <a > Visit RTU Official Website</a>
            </div>
        </div>
        <div class="igg">
            <img src="../assets/g2.png" alt="car2" width="275" height="200" />
            <div>
                <h3>IRSO</h3>
                <a > Visit ISRO Official Website</a>
            </div>
        </div>
        <div class="igg">
            <img src="../assets/g3.png" alt="car5" width="275" height="200" />
            <div>
                <h3>IIT B</h3>
                <a > Visit IIT B Official Website</a>
            </div>
        </div>
        <div class="igg">
            <img src="../assets/g4.png" alt="car6" width="275" height="200" />
            <div>
                <h3>KUKA</h3>
                <a > Visit RTU Official Website</a>
            </div>
        </div>
        <!-- <div class="igg">
            <img src="../assets/ss5.jpg" alt="car8" width="275" height="200" />
            <div>
                <h3>Nissan Esflow</h3>
                <p>The new Nissan Esflow Concept car is on display during the press day at the 81st Geneva International Motor Show in Geneva, Switzerland, 02 March 2011. </p>
            </div>
        </div>
        <div class="igg">
            <img src="../assets/ss6.jpg" alt="car9" width="275" height="200" />
            <div>
                <h3>Bulli</h3>
                <p>A study of Volkswagen named Bulli is on display at International Geneva Motor Show at the Palexpo fairground in Geneva, Switzerland, 03 March 2011</p>
            </div>
        </div>
        <div class="igg">
                <img src="../assets/ss6.jpg" alt="car10" width="275" height="200" />
                <div>
                    <h3>Bulli</h3>
                    <p>A study of Volkswagen named Bulli is on display at International Geneva Motor Show at the Palexpo fairground in Geneva, Switzerland, 03 March 2011</p>
                </div>
            </div>
            <div class="igg">
                    <img src="../assets/ss6.jpg" alt="car9" width="275" height="200" />
                    <div>
                        <h3>Bulli</h3>
                        <p>A study of Volkswagen named Bulli is on display at International Geneva Motor Show at the Palexpo fairground in Geneva, Switzerland, 03 March 2011</p>
                    </div>
                </div> -->
    </div>
    