.box {
  
    transform: translateY(300px);
    width: 200px;
}
.photo {
    position: absolute;
    top:0px;
    z-index: 2;
    margin: 0 auto;
    display: block;
     
    width: 200px;
    height: 200px;
    clip-path: circle(50% at 50% 50%);
    background-color: red;
}
.btn {
    z-index: 3;
    position: absolute;
    top:0px;
    right: 20px;
    width: 40px;
    margin: 0 auto;
    padding: 0 2px 0 2px; 
}