<div class="box">
        <button class="btn">
                <i class="far fa-edit"></i>
        </button>
        <div class="photo">
        </div>

</div>

<div class="fixed-action-btn">
        <a href="#" class="btn-floating blue btn-large">
                <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
                
                <li>
                        <a href="#" class="btn-floating black ">
                                <i class="large tooltipped material-icons" data-position="top" data-tooltip="I am a tooltip">insert_chart</i>
                        </a>
                </li>
                
        </ul>
</div>

<a style="top:90px" onclick="M.toast({html: 'I am a toast',displayLength:500})" class="btn">Toast!</a>
