<div id="news">

  <!-- <div class="first">
      <dl id="ticker-1">
        <dt>News ticker</dt>
          <dd>A news ticker (sometimes referred to as a &quot;crawler&quot;) resides in the lower third of the television screen space on television news networks dedicated to presenting headlines or minor pieces of news.</dd>

        <dt>Scoreboard style</dt>
          <dd>It may also refer to a long, thin scoreboard-style display seen around the front of some offices or public buildings.</dd>

        <dt>WWW</dt>
          <dd>Since the growth in usage of the World Wide Web, news tickers have largely syndicated news posts from the websites of the broadcasting services which produce the broadcasts.</dd>
      </dl>
    </div>-->
  <div>
    <dl id="ticker-2">
      
      <dd>>Dr. Renu Joshi, Director, GIT felicitated as "Pride Of Jaipur" by Business Network of India on International Women Day on March 8, 2018.</dd>

      <dt>College Transfer Application</dt>
      <dd>The last date for submission of college transfer application form for college transfer is 20.06.2018</dd>

      <dt>III Semester Results Out</dt>
      <dd>B.TECH III Semester Results have been anounced by RTU, to check visit 
        <a href="http://www.esuvidha.info/" target="_blank">here</a>
        <!-- <em>formatted</em>
        <strong>text</strong> or even images.</dd> -->
    </dl>
  </div>

</div>