/* .container {
    margin-top: 100px;
    
  } */

  #registerModal {
    overflow: hidden;
   min-height: 86vh;
    min-width: 300px;
    
  }
  
  input.ng-invalid.ng-touched{
    border-bottom:1px solid red!important;
  }

 input.ng-dirty.validUser.ng-valid{
    border-bottom:1px solid green!important;
  }
  
 input.ng-touched.validi.ng-valid{
  border-bottom:1px solid green!important;
 }

 input.ng-dirty.invalidi{
  border-bottom:1px solid red!important;
 }
 
  .clear-10 div{
    margin-bottom: 0px
  }

  
  