<div class="row">
  <div class="col s12">
    <div class="row">
      <i class="fab fa-codepen fa-2x left s1" style="color:rgb(0, 0, 0);padding-top: 30px;"></i>
      <div class="input-field col s11">
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <div class="row">
      <i class="fab left fa-instagram fa-2x" style="color:rgb(212, 16, 212);padding-top: 30px;"></i>
      <div class="input-field col s11">
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col s12">
      <div class="row">
        <i class="fab left fa-google fa-2x" style="color:orangered;padding-top: 30px;"></i>
        <div class="input-field col s11">
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col s12">
        <div class="row">
            <i class="fab left fa-linkedin fa-2x" style="color:rgb(29, 91, 150);padding-top: 30px;"></i>
          <div class="input-field col s11">
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Autocomplete</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col s12">
          <div class="row">
              <i class="fab left fa-github fa-2x" style="color:black;padding-top: 30px;"></i>
            <div class="input-field col s11">
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">Autocomplete</label>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
          <div class="col s12">
            <div class="row">
                <i class="fab left fa-facebook-f fa-2x" style="color:rgb(32, 128, 253);padding-top: 30px;"></i>
              <div class="input-field col s11">
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Autocomplete</label>
              </div>
            </div>
          </div>
        </div>
        


<i class="fab fa-codepen fa-2x" style="color:rgb(0, 0, 0);padding-top: 30px;"></i>
<i class="fab left fa-instagram fa-2x" style="color:rgb(212, 16, 212);padding-top: 30px;"></i>
<i class="fab left fa-google fa-2x" style="color:orangered;padding-top: 30px;"></i>
<i class="fab left fa-linkedin fa-2x" style="color:rgb(29, 91, 150);padding-top: 30px;"></i>
<i class="fab left fa-github fa-2x" style="color:black;padding-top: 30px;"></i>
<i class="fab leftfa-facebook-f fa-2x" style="color:rgb(32, 128, 253);padding-top: 30px;"></i>