<table class="striped love responsive" style="width:98% ;margin:auto ;margin-right: 10px;margin-top:10px">
  <thead>
    <tr>
      <th></th>
      <th>From</th>

      <th colspan="1">Message</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody *ngIf="messages?.length>0">

    <tr class="raw" [ngClass]="msg.read===false?'unread':'read'" *ngFor="let msg of messages;let i = index" routerLink="{{msg._id}}">
      <td>
        <i *ngIf="msg.read===false" class="fas fa-envelope left prefix"></i>
        <i *ngIf="msg.read===true" class="fas fa-envelope-open left prefix"></i>
      </td>
      <td class="profile" routerLink="/users/{{messages[i].from}}">{{msg.receiverName|uppercase}}</td>
      <td colspan="1">
        <strong style="font-weight: bolder">{{msg.subject|slice:0:25}}</strong> {{msg.message|slice:0:40}}</td>
      <td style="font-size: 12px!important">
        <span class=" badge grey new" data-badge-caption="" *ngIf="todayy(msg.time)" style="width:71px">{{msg.time|date:'shortTime'}} </span>
        <span class="badge grey  new" data-badge-caption="" *ngIf="yesterday(msg.time)" style="width:71px"> Yesterday</span>
        <span class="badge grey new" data-badge-caption="" *ngIf="date(msg.time) &&!yesterday(msg.time)" style="width:71px">{{msg.time|date:'MMM d'}}</span>

        <span class="badge new grey" data-badge-caption="" *ngIf="year(msg.time)" style="width:71px"> {{msg.time|date:' y'}}</span>
      </td>
    </tr>
  </tbody>
</table>

<img *ngIf="messages?.length===0" style="width:100%;height:100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDk009ZOj7J9I48YM6tk2hX7Hl4ccwX-0Traa_RTquMxJmHSLe">